.ry {
    background-color: rgb(249, 191, 235);
}
.bu {
    text-align: center;
}
.vu {
    display: flex;
    justify-content: space-around;
}
.vu button{
    background-color: rgb(255, 0, 221);
    height: 50px;
    width: 125px;
}
.vu button:hover  {
    background-color: rgb(255, 127, 242);
}